<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Introduction to Python: Part Two

_Authors: Kiefer Katovich (San Francisco), Dave Yerrington (San Francisco), Joseph Nelson (Washington, D.C.), Sam Stack (Washington, D.C.)_

---


### Learning Objectives
 
#### Part Two: Python Iterations, Control Flow, and Functions
**After this lesson, you will be able to:**
- Understand `Python` control flow and conditional programming.  
- Implement `for` and `while` loops to iterate through data structures.
- Apply `if… else` conditional statements.
- Create functions to perform repetitive actions.
- Demonstrate error handling using `try, except` statements.
- Combine control flow and conditional statements to solve the classic "FizzBuzz" code challenge.
- Use `Python` control flow and functions to help us parse, clean, edit, and analyze the Coffee Preferences data set.
---

### Lesson Guide

#### [Part 2: Python Iterations, Control Flow, and Functions](#py_i)
- [`if… else` Statements](#if_else_statements)
- [Iterating With `for` Loops](#for_loops)
- [FizzBuzz](#fizz_buzz)
- [Functions](#functions)
- [`while` Loops](#while_loops)
- [Practice Control Flow on the Coffee Preference Data Set](#coffee_preference)
- [Conclusion](#conclusion)
----

<a id='py_i'></a>
## Part 2: Python Iterations, Control Flow, and Functions

We've gone over how data can exist within the Python language. Now, let's look at the core ways of interacting with it.

- `if… elif… else` statements.
- `for` and `while` loops.
- Error handling with `try` and `except`.
- Functions.


First, let's bring in one of the many available Python libraries to help us with some of the statements we'll be creating.

In [1]:
import numpy as np

NumPy is one of the core data science libraries you will use. It already contains many functions for many useful mathematical operations, so we don't have to build them ourselves.

All you _need_ to do to import a library is execute ``` import <library name>```. In our situation, we import NumPy and assign it to the value `np`, which allows us to use `np` as a shorthand.  

_Why would we do this?_
For convenience. In this case, `np` is a commonly used shorthand that will not cause confusion.

<a id='if_else_statements'></a>

# `if… else` Statements

---

In Python, **indentation matters**! This is especially true when we look at the control structures in this lesson. In each case, a block of indented code is only sometimes run. There will always be a condition in the line preceding the indented block that determines whether the indented code is run or skipped.

#### `if` Statement

The simplest example of a control structure is the `if` statement.

In [2]:
if 1 == 1:
    print('The integer 1 is equal to the integer 1.')
    print('Is the next indented line run, too?')

The integer 1 is equal to the integer 1.
Is the next indented line run, too?

In [3]:
if 'one' == 'two':
    print("The string 'one' is equal to the string 'two'.")

print('---')
print('These two lines are not indented, so they are always run next.')

---
These two lines are not indented, so they are always run next.

Notice that, in Python, the line before every indented block must end with a colon (`:`). In fact, it turns out that the `if` statement has a very specific syntax.

```if <expression>:
    <one or more indented lines>```

When the `if` statement is run, the expression is evaluated to `True` or `False` by applying the built-in `bool()` function to it. If the expression evaluates to `True`, the code block is run; otherwise, it is skipped.

#### `if` ... `else`

In many cases, you may want to run some code if the expression evaluates to `True` and some different code if it evaluates to `False`. This is done using `else`. Note how it is at the same indentation level as the `if` statement, followed by a colon, followed by a code block. Let's see it in action.

In [27]:
if 50 < 30:
    print("50 < 30.")
else:
    print("50 >= 30.")
    print("The else code block was run instead of the first block.")

print('---')
print('These two lines are not indented, so they are always run next.')

50 >= 30.
The else code block was run instead of the first block.
---
These two lines are not indented, so they are always run next.

#### `if` ... `elif` ... `else`

Sometimes, you might want to run one specific code block out of several. For example, perhaps we provide the user with three choices and want something different to happen with each one.

`elif` stands for `else if`. It belongs on a line between the initial `if` statement and an (optional) `else`.

In [28]:
health = 55

if health > 70:
    print('You are in great health!')
elif health > 40:
    print('Your health is average.')
    print('Exercise and eat healthily!')
else:
    print('Your health is low.')
    print('Please see a doctor now.')

print('---')
print('These two lines are not indented, so they are always run next.')

Your health is average.
Exercise and eat healthily!
---
These two lines are not indented, so they are always run next.

This code works by evaluating each condition in order. If a condition evaluates to `True`, the rest are skipped.

**Let's walk through the code.** First, we let `health = 55`. We move to the next line at the same indentation level — the `if`. We evaluate `health > 70` to be `False`, so its code block is skipped. Next, the interpreter moves to the next line at the same outer indentation level, which happens to be the `elif`. It evaluates its expression, `health > 40`, to be `True`, so its code block is run. Now, because a code block was run, the rest of the `if` statement is skipped.

![](./assets/if-flow.png)

### 1) Write an `if… else` statement to check whether or not the suitcase weighs more than 50 pounds.

Print a message indicating whether or not the suitcase weighs more than 50 pounds.

In [6]:
weight = float(eval(input("How many pounds does your suitcase weigh?")))

How many pounds does your suitcase weigh?45

In [7]:
if abs(weight) < 50:
    print("The suitcase is under 50 pounds.")
else:
    print("Your suitcase must be heavier than you thought. You will need to pay an oversize fee")

The suitcase is under 50 pounds.

In [87]:
# A:

The suitcase is under 50 pounds.

---

### 2) Write an `if… else` statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1) The temperature is higher than 60 degrees and it is raining: Bring an umbrella.
2) The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.
3) The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.
4) The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

In [13]:
temperature = float(eval(input('What is the temperature? ')))
weather = input('What is the weather (rain or shine)? ')

What is the temperature? 55
What is the weather (rain or shine)? rain

In [14]:
if temperature > 60 and weather =="rain":
    print("Bring an umbrella.")
elif temperature <= 60 and weather =="rain":
    print ("Bring an umbrella and a jacket")
elif temperature > 60 and weather =="shine":
    print("Wear a t-shirt.")
elif temperature <= 60 and weather =="shine":
    print("Bring a jacket.")
else:
    print("I don't know, stay inside until it figures itself out ; - )")

Bring an umbrella and a jacket

In [88]:
# A:

bring an umbrella and a jacket

---
<a id='for_loops'></a>
# `for` Loops


One of the primary purposes of using a programming language is to automate repetitive tasks. One such means in Python is the `for` loop.

The `for` loop allows you to perform a task repeatedly on every element within an object, such as every name in a list.


Let's see how the pseudocode works:

```python
# For each individual object in the list
    # perform task_A on said object.
    # Once task_A has been completed, move to next object in the list.
```

Let's say we wanted to print each of the names in the list, as well as "is Awesome!"

In [15]:
names = ['Alex', 'Brian', 'Catherine']

for name in names:
    print(name + ' Is Awesome!')

Alex Is Awesome!
Brian Is Awesome!
Catherine Is Awesome!

This process of cycling through a list item by item is known as "iteration."

---

### 3) Write a `for` loop that iterates from number 1 to number 15.

On each iteration, print out the number.

In [16]:
# A: for number in range(1,16): print (number)

In [18]:
for number in range(1,16): print (number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

---

### 4) Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or, in other words, the remainder of dividing 9 by 5 is 4.

In [24]:
for number in range(1,16): 
    # print (number % 2)
    if (number % 2) == 1:
        print (str(number) + ' odd')
    elif (number % 2) == 0:
        print (str(number) + ' even')
    else:
        print ('go back and look at the code')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

In [90]:
# A:

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

---
<a id='fizz_buzz'></a>
### 5) Iterate from 1 to 30 using the following instructions:

1) If a number is divisible by 3, print "fizz."
2) If a number is divisible by 5, print "buzz." 
3) If a number is both divisible by 3 and by 5, print "fizzbuzz."
4) Otherwise, print just the number.

In [38]:
for number in range(1,31):
    if number % 3 == 0 and number % 5 == 0: 
        print ("fizzbuzz")
    elif number % 3 == 0: 
        print ("fizz")
    elif  number % 5 == 0:
        print ("buzz")
    else:
        print (number)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [33]:
# A:

Remember this example. FizzBuzz is a common coding challenge. It is relatively easy to solve, but those who ask are always looking for more creative ways to solve or optimize it.

---

### 6) Iterate through the following list of animals and print each one in all caps.

In [44]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [45]:
for animal in animals:
    print (animal.upper())

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

In [3]:
print('a'.upper())

A

In [2]:
# A:

---

### 7) Iterate through the animals list. Capitalize the first letter and append the modified animals to a new list.

In [71]:
newlist=[]
for animal in animals: 
    newlist.append((animal[0:1].upper() + animal[1:]))
    #print(newlist.count, "aeiou"))
    print (newlist)

# print ("This is the new list:" + str(newlist))

['Duck']
['Duck', 'Rat']
['Duck', 'Rat', 'Boar']
['Duck', 'Rat', 'Boar', 'Slug']
['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth']
['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

In [73]:
print (newlist[:])

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

In [4]:
# A:

---

### 8) Iterate through the animals. Print out the animal name and the number of vowels in the name.
Hint: You may need to create a variable of vowels for comparison.

In [89]:
# print(*map(newlist.lower().count, "aeiou"))

def Check_Vow(string, vowels):
     
    # casefold has been used to ignore cases
    string = string.casefold()
     
    # Forms a dictionary with key as a vowel
    # and the value as 0
    count = {}.fromkeys(vowels, 0)
     
    # To count the vowels
    for character in string:
        if character in count:
            count[character] += 1   
    return string + " returns these vowel counts " + str(count)
     
# Driver Code
vowels = 'aeiou'
string = "Geeks for Geeks"
print (Check_Vow(string, vowels))

geeks for geeks returns these vowel counts {'a': 0, 'e': 4, 'i': 0, 'o': 1, 'u': 0}

In [90]:
for item in newlist:
    print (Check_Vow(item,vowels))

duck returns these vowel counts {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 1}
rat returns these vowel counts {'a': 1, 'e': 0, 'i': 0, 'o': 0, 'u': 0}
boar returns these vowel counts {'a': 1, 'e': 0, 'i': 0, 'o': 1, 'u': 0}
slug returns these vowel counts {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 1}
mammoth returns these vowel counts {'a': 1, 'e': 0, 'i': 0, 'o': 1, 'u': 0}
gazelle returns these vowel counts {'a': 1, 'e': 2, 'i': 0, 'o': 0, 'u': 0}

In [5]:
# A:

---
<a id='functions'></a>
# `try` / `except`
---

Sometimes, code throws a runtime error. For example, division by zero or using a keyword as a variable name.

In [78]:
1 / 0

ZeroDivisionError: division by zero

In [79]:
print('a' - 'b')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

These errors are called **exceptions**. Exceptions are serious errors that are **thrown** when the computer cannot continue because the expression cannot be evaluated properly. For example:

+ Using the addition operator to add a string and a non-string.
+ Using an undefined name.
+ Opening a file that does not exist.

Luckily, our program does not have to be this fragile. By wrapping a code block with `try`, we can "catch" exceptions. If an exception occurs, instead of exiting, the computer immediately executes the matching `except` block and continues the program.

In [80]:
try:
    1 / 0
    print('not executed due to the exception')
except:
    print('Divide by zero!')

print('Program keeps executing!')

Divide by zero!
Program keeps executing!

Sometimes, you might want to do nothing in the event of an exception. However, an indented code block is still required! So, you can use the keyword `pass`.

In [91]:
try:
    print('a' - 'b')
except:
    pass

print('Program keeps executing!')

Program keeps executing!

We can also catch specific exceptions and use try/except in more ways, but we'll keep it brief for this introduction!

---
<a id='functions'></a>
# Functions
---

Similar to the way we can use `for` loops as a means of performing repetitive tasks on a series of objects, we can also create functions to perform repetitive tasks. Within a function, we can write a large block of action and then call the function whenever we want to use it.  


Let's make some pseudocode:
```python
# Define the function name and the requirements it needs.
    # Perform actions.
    # Optional: Return output.
```

Let's create a function that takes two numbers as arguments and returns their sum, difference, and product.

In [92]:
def arithmetic(num1, num2):
    print(num1 + num2)
    print(num1 - num2)
    print(num1 * num2)
    
arithmetic(3,5)

8
-2
15

Once we define the function, it will exist until we reset our kernel, close our notebook, or overwrite it.

In [93]:
arithmetic(4,10)

14
-6
40

### 9) Write a function that takes a word as an argument and returns the number of vowels in the word.

Try it out on three words.

In [94]:
# See above 

word =(input("Type in your word to check the number of vowels it has: "))
print (Check_Vow(word, vowels))

Type in your word to check the number of vowels it has: rainbow
rainbow returns these vowel counts {'a': 1, 'e': 0, 'i': 1, 'o': 1, 'u': 0}

In [6]:
# A:

---

### 10) Write a function to calculate the area of a triangle using a height and width.

Test it out.

In [96]:
# A: Area is 1/2 times the base (the width) times the height aka 1/2 * base * height or (base*height)/2 
# https://www.w3resource.com/python-exercises/python-basic-exercise-30.php

In [95]:
width = int(input("Input the base : "))
height = int(input("Input the height : "))

area = ((width*height)/2)

print("area = ", area)

Input the base : 20
Input the height : 40
area =  400.0

---
<a id='while_loops'></a>
# `while` Loops
---


`while` loops are a different means of performing repetitive tasks/iteration. The function of a `for` loop is to perform tasks over a _finite list_. The function of a `while` loop is to perform a repetitive task until a _specific threshold or criteria point is met_. Keep in mind that this can be relatively dangerous, as it is easy to create a loop that never meets your criteria and runs forever.

_We say "list," but we're not just talking about a Python list data type. We're including any data type where information can be iterated through._

Let's look at some pseudocode:

```python
# A threshold or criteria point is set.
    # As long as the threshold or criteria point isn't met,
    # perform a task.
    # Check threshold/criteria point.
        # If threshold/criteria point is met or exceeded,
            # break loop.
        # If not, repeat.
    
```

An example of an infinite `while` loop:

```python
x = 0
while x < 10:
    print x
```

Because the value assigned to `x` never changes and always remains less than 10, this loop will print "`x`" infinitely until you force-kill the kernel. 

We can fix this infinity loop by including a incrementation for `x` within it.

```python
x = 0
while x < 10:
    print x
    x = x+1
```

### 11) Use `while` loops and strings.

Iterate over the following sentence repeatedly, counting the number of vowels in the sentence until you have tallied one million. Print out the number of iterations it took to reach that amount.

In [81]:
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"

In [8]:
# A:

In [99]:
s = "The quick brown fox"
count = 0
vowels = set("aeiou")
for letter in s:
    if letter in vowels:
        count += 1
        print (letter)

e
u
i
o
o

---

### 12) Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

_Hint: Use error-handling methods._

In [83]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [9]:
# A:

---
<a id='coffee_preference'></a>

# Practice Control Flow on the Coffee Preference Data Set

### 1) Load Coffee Preference data from file and print.

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write") and assigns this opened file to `f`. 

We can then use the built-in `.readlines()` function to split the CSV file on newlines and assign it to the variable `lines`.

In [107]:
with open('./assets/datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

In [116]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

#### Iterate through `lines` and print them out.

In [101]:
# A:
for l in lines:
    print(l)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,

#### Print out just the `lines` object by typing "lines" in a cell and hitting `enter`.

In [115]:
# A:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

---

### 2) Remove the remaining newline `'\n'` characters with a `for` loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [118]:
import re

for line in lines:
    line.replace('\n', '')
    print (line)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,

In [12]:
# A:

---

### 3) Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains our data's column names.

In [124]:
import re

header, data = [],[]
    
foundHeader = False
for line in lines:
     if re.search("Timestamp,Name",line):
        foundHeader = True
     if foundHeader == True:
          print (foundHeader)
          header.append(line)
     else:
          data.append(line)

print ("Header: " + str(header))
print ("Data:" + str(data))

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
Header: ['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n', '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n', '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n', '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n', '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n', '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n', '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n', '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n', '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n', '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n', '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1\n', '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n', '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n', '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n', '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n', '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n', '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n', '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n', '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n', '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n', '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']
Data:[]

In [135]:
import csv
filename = './assets/datasets/coffee-preferences.csv'
with open(filename) as f:
    reader = csv.reader(f)
    # print (reader)
    # <_csv.reader object at 0x1170a42e8>
    #
    # This syntax skips over the first line and then leaves the rest to iterate over 
    header = next(reader)
    # print ("This is the header:" + str(header))
    for row in reader:
        print (row)

This is the header:['Timestamp', 'Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']
['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', '']
['3/17/2015 18:38:09', 'April', '4', '5', '5', '3', '', '', '3', '', '5']
['3/17/2015 18:38:25', 'Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1']
['3/17/2015 18:38:28', 'Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3']
['3/17/2015 18:38:46', 'Isabel', '1', '4', '4', '2', '4', '', '4', '4', '']
['3/17/2015 18:39:01', 'India', '5', '3', '3', '3', '3', '1', '', '', '3']
['3/17/2015 18:39:01', 'Dave H', '4', '5', '', '5', '', '', '', '', '']
['3/17/2015 18:39:05', 'Deepthi', '3', '5', '', '2', '', '', '', '', '2']
['3/17/2015 18:39:14', 'Ramesh', '3', '4', '', '3', '', '', '', '', '4']
['3/17/2015 18:39:23', 'Hugh', '1', '5', '5', '4', '5', '2', '5', '4', '1']
['3/17/2015 18:39:23', 'Alex', '4', '5', '', '3', '', '', '', '', '']
['3/17/2015 18:39:30', 'Ajay Anand', '3', '4', '4', '3', '5', '', '', '', '']
['3/17/2015 18:39:35', 'David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3']
['3/17/2015 18:39:42', 'Zach', '3', '4', '4', '3', '', '', '', '', '5']
['3/17/2015 18:40:44', 'Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2']
['3/17/2015 18:40:49', 'Markus', '3', '5', '', '3', '', '', '4', '', '']
['3/17/2015 18:41:18', 'Otto', '4', '2', '2', '5', '', '', '3', '3', '3']
['3/17/2015 18:41:23', 'Alessandro', '1', '5', '3', '2', '', '', '4', '3', '']
['3/17/2015 18:41:35', 'Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3']
['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '', '', '', '', '4', '', '']

In [166]:
# A: Another way to do it is to use pop 
#
# Word of warning for pop is that you can't always keep track of that stack 
# Isaac and a few other folks avoid using pop 
# https://www.alexkras.com/how-to-read-csv-file-in-python/ 
#
# Also with list comprehension this is way harder to read and I just don't like it 
import csv
with open("./assets/datasets/coffee-preferences.csv") as f:
    reader = csv.reader(f)
    next(reader) # skip header
    data = [r for r in reader]
    print (data)
    print ("Notice the formatting differences")
    print (data[:][:])

[['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', ''], ['3/17/2015 18:38:09', 'April', '4', '5', '5', '3', '', '', '3', '', '5'], ['3/17/2015 18:38:25', 'Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'], ['3/17/2015 18:38:28', 'Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'], ['3/17/2015 18:38:46', 'Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''], ['3/17/2015 18:39:01', 'India', '5', '3', '3', '3', '3', '1', '', '', '3'], ['3/17/2015 18:39:01', 'Dave H', '4', '5', '', '5', '', '', '', '', ''], ['3/17/2015 18:39:05', 'Deepthi', '3', '5', '', '2', '', '', '', '', '2'], ['3/17/2015 18:39:14', 'Ramesh', '3', '4', '', '3', '', '', '', '', '4'], ['3/17/2015 18:39:23', 'Hugh', '1', '5', '5', '4', '5', '2', '5', '4', '1'], ['3/17/2015 18:39:23', 'Alex', '4', '5', '', '3', '', '', '', '', ''], ['3/17/2015 18:39:30', 'Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''], ['3/17/2015 18:39:35', 'David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'], ['3/17/2015 18:39:42', 'Zach', '3', '4', '4', '3', '', '', '', '', '5'], ['3/17/2015 18:40:44', 'Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'], ['3/17/2015 18:40:49', 'Markus', '3', '5', '', '3', '', '', '4', '', ''], ['3/17/2015 18:41:18', 'Otto', '4', '2', '2', '5', '', '', '3', '3', '3'], ['3/17/2015 18:41:23', 'Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''], ['3/17/2015 18:41:35', 'Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'], ['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '', '', '', '', '4', '', '']]
Notice the formatting differences
[['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', ''], ['3/17/2015 18:38:09', 'April', '4', '5', '5', '3', '', '', '3', '', '5'], ['3/17/2015 18:38:25', 'Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'], ['3/17/2015 18:38:28', 'Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'], ['3/17/2015 18:38:46', 'Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''], ['3/17/2015 18:39:01', 'India', '5', '3', '3', '3', '3', '1', '', '', '3'], ['3/17/2015 18:39:01', 'Dave H', '4', '5', '', '5', '', '', '', '', ''], ['3/17/2015 18:39:05', 'Deepthi', '3', '5', '', '2', '', '', '', '', '2'], ['3/17/2015 18:39:14', 'Ramesh', '3', '4', '', '3', '', '', '', '', '4'], ['3/17/2015 18:39:23', 'Hugh', '1', '5', '5', '4', '5', '2', '5', '4', '1'], ['3/17/2015 18:39:23', 'Alex', '4', '5', '', '3', '', '', '', '', ''], ['3/17/2015 18:39:30', 'Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''], ['3/17/2015 18:39:35', 'David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'], ['3/17/2015 18:39:42', 'Zach', '3', '4', '4', '3', '', '', '', '', '5'], ['3/17/2015 18:40:44', 'Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'], ['3/17/2015 18:40:49', 'Markus', '3', '5', '', '3', '', '', '4', '', ''], ['3/17/2015 18:41:18', 'Otto', '4', '2', '2', '5', '', '', '3', '3', '3'], ['3/17/2015 18:41:23', 'Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''], ['3/17/2015 18:41:35', 'Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'], ['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '', '', '', '', '4', '', '']]

In [159]:
# This looks to take only one line and append it's piece to the list 
data = []
for r in row:
    data.append(r)
    print (data[:])

print (data[1][:])

['3/17/2015 18:42:01']
['3/17/2015 18:42:01', 'Cheong-tseng']
['3/17/2015 18:42:01', 'Cheong-tseng', '3']
['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1']
['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '']
['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '', '']
['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '', '', '']
['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '', '', '', '']
['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '', '', '', '', '4']
['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '', '', '', '', '4', '']
['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '', '', '', '', '4', '', '']
Cheong-tseng

---

### 4) Split the header and data strings on commas.

To split a string on the comma character, use the built-in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

In [14]:
# A:

In [165]:
print (data)

for line in data:
    my_line = line.split(',')
    print (my_line)

['3/17/2015 18:42:01', 'Cheong-tseng', '3', '1', '', '', '', '', '4', '', '']
['3/17/2015 18:42:01']
['Cheong-tseng']
['3']
['1']
['']
['']
['']
['']
['4']
['']
['']

In [ ]:
import csv
filename = './assets/datasets/coffee-preferences.csv'
with open(filename) as f:
    reader = csv.reader(f)
    # print (reader)
    # <_csv.reader object at 0x1170a42e8>
    #
    # This syntax skips over the first line and then leaves the rest to iterate over 
    header = next(reader)
    # print ("This is the header:" + str(header))
    for row in reader:
        print (row)

---

### 5) Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and data list.

Removing "Timestamp" from the header can be done with list functions or with slicing. To remove the header column from the data, use a `for` loop.

Print out the new data object with the timestamps removed.

In [15]:
# A:

---

### 6) Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that contains the numeric ratings converted from strings to floats and the empty fields (which are empty strings, '') replaced with the `None` object.

Use a nested `for` loop (a `for` loop within another `for` loop) to get the job done. You will likely need to use `if… else` conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [16]:
# A:

---

### 7) Count the `None` values per person and put the counts in a dictionary.

Use a `for` loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [17]:
# A:

---

### 8) Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with the coffee brand names as keys and their average rating as the values.

Remember that the average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [18]:
# A:

---

### 9) Create a list containing only the people's names.

In [19]:
# A:

---

### 11) Picking a name at random. What are the odds of choosing the same name three times in a row?

Now, we'll use a `while` loop to "brute force" the odds of choosing the same name three times in a row randomly from the list of names.

"Brute force" is a term used quite frequently in programming to refer to a computationally inefficient way of solving a problem. It's brute force in this situation because we can use statistics to solve this much more efficiently than if we actually played out an entire scenario.

Below, we've imported the **`random`** package, which has the essential function for this code: **`random.choice()`**.
The function takes a list as an argument and returns one of the elements of that list at random.

In [110]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly three times and check if they are all the same.

Define a function that has the following properties:

1) Takes a list (your list of names) as an argument.
2) Selects a name using `random.choice(people)` three separate times.
3) Returns `True` if the name was the same all three times; otherwise returns `False`.

In [20]:
# A:

---

### 12) Construct a `while` loop to run the choosing function until it returns `True`.

Run the function until you draw the same person three times using a `while` loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [21]:
# A:


<a name="conclusion"></a>
## Lesson Summary


Let's review what we learned today. We:

- Reviewed `Python` control flow and conditional programming. 
- Implemented `for` and `while` loops to iterate through data structures.
- Applied `if… else` conditional statements.
- Created functions to perform repetitive actions.
- Demonstrated error handling using `try, except` statements.
- Combined control flow and conditional statements to solve the classic "FizzBuzz" code challenge.
- Used `Python` control flow and functions to help us parse, clean, edit, and analyze the Coffee Preferences data set.



### Additional Questions?


....

### Additional Resources

- [Learn Python on Codecademy](https://www.codecademy.com/learn/python)
- [Learn Python the Hard Way](https://learnpythonthehardway.org)
- [Python Data Types and Variables](http://www.python-course.eu/variables.php)
- [Python IF… ELIF… ELSE Statements](https://www.tutorialspoint.com/python/python_if_else.htm)
- [Python Loops](https://www.tutorialspoint.com/python/python_loops.htm)
- [Python Control Flow](https://python.swaroopch.com/control_flow.html)